.hero {
  display: flex;
  height: fit-content;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--color-background);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md) var(--spacing-xl);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);

  &__name {
    height: 65px;
    display: flex;
    padding-bottom: 0;
    text-align: start;
    gap: var(--spacing-sm);
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }

  button { 
    padding: 0;
  }
}
