.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.labelPosition__right {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.labelPosition__bottom {
  flex-direction: column-reverse;
  display: flex;
}

.labelPosition__left {
  flex-direction: row;
  display: flex;
}

.label {
  display: flex;
  align-items: center;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.input {
  border: 1px solid var(--color-gray-2);
  border-radius: var(--border-radius-sm);
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: var(--fonts-Medium);
  font-weight: var(--fontWeight-400);
  font-size: var(--font-size-base);
  line-height: var(-line-height-base);
  padding: 15px 40px 12px 14px;

  &::placeholder {
    color: var(--color-gray-3);
  }

  &_hint {
    font-family: var(--fonts-Thin);
    font-weight: var(--fontWeight-400);
    font-size: var(--font-size-sm);
    line-height: 16px;
    line-height: var(-line-height-base);
    align-self: flex-start;
    color: var(--color-red);

    &__success {
      color: var(--color-green);
    }
  }
}

.labelPosition__right .input_icon {
  top: 8px;
  right: 10px;
}

.labelPosition__bottom .input_icon {
  top: 8px;
  right: 10px;
}

.wrapperError .input {
  border-color: var(--color-red);

  &::placeholder {
    color: var(--color-red);
  }
}

.wrapperError .input_hint {
  color: var(--color-red);
}
