.wrapper__flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-lg);
  justify-content: center;
  margin: var(--spacing-lg) 0;
}

.wrapper__grid {
  width: 100%;
  display: grid;
  gap: var(--spacing-lg);
  margin: var(--spacing-lg) 0;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

@media (max-width: 1679px) {
  .wrapper__grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 1439px) {
  .wrapper__grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 959px) {
  .wrapper__flex {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .wrapper__grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}