.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
  padding: var(--spacing-md) 5%;
  border-bottom: 3px solid var(--color-border);

  &__content {   
    display: flex;
    align-items: center;
    gap: var(--spacing-sm); 
    justify-content: center;

    &_logo {
      fill: var(--color-text);
    }
  }
}
