.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  padding: var(--spacing-md) var(--spacing-lg);

  &__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    fill: var(--color-purple);
  }

  &__user {
    position: absolute;
    top: 20px;
    right: 70px;
  }
}
