.mainLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: var(--color-background);
  height: 100vh;
  overflow: hidden;

  &__header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;
    position: fixed;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: flex-end;
    justify-content: space-between;

    &_content {
      fill: var(--color-border);
      opacity: 0.3;
    }
  }

  &__body {
    flex: 1;
    z-index: 1110;
    display: flex;
    overflow-y: auto;
    align-items: center;
    padding: 95px 15% 0 15%;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .mainLayout__image_content {
    height: auto;
  }
}
